<!-- <div cdkDropListGroup>
    <div class="example-container">
      <h2>To do</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Done</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div>
   -->

  <!-- <div  >
    <section class="d-flex">
    <div class="align-content-center col-4"><p>Branch Code</p>
    <div class="d-grid gap-4 p-2">
        <div class="border py-5 bg-body-secondary" *ngFor="let item of filteredBranchCodeManager">
        <p class="text-center">{{item}}</p>
        
        </div>
    </div>
    </div>
    
    <div class="col-4"><p>FRM</p>
        <div class="d-grid gap-4 p-2">
            <div  *ngFor="let item of filteredBranchCodeManager">
            <div class="border py-1 bg-body-secondary" *ngFor="let element of createdJson[item] ">
                <p>FRM Id - {{element.id}}</p>
                <p>FRM Name - {{element.name}}</p>
            </div>
        </div>
        </div>
     </div>
    
     <div class="col-4"><p>kivistars</p>
        <div class="d-grid gap-4 p-2">
            <div  *ngFor="let item of filteredBranchCodeManager">
            <div  *ngFor="let element of createdJson[item] ">
            <div class="border py-1 bg-body-secondary"  *ngFor="let Kivist of element.kivistars ">
                <p>Kivistar Id - {{Kivist.id}}</p>
                <p>Kivistar Name - {{Kivist.name}}</p>
            </div>
        </div>
        </div>
        
     </div>
     </div>
    </section>
    </div> -->

    <!-- <div *ngFor="let element of createdJson[item]">
            <p>FRM Id - {{element.id}}</p>
            <p>FRM Name - {{element.name}}</p>
            <div  *ngFor="let Kivist of element.kivistars">
                <p>Kivistar Id - {{Kivist.id}}</p>
                <p>Kivistar Name - {{Kivist.name}}</p>
                <p>Kivistar Reporting to - {{Kivist.reportingTo}}</p>
            </div>
        </div> -->
    
        <input type="file" (change)="onSelectBaseImage($event)"/>
      <div class="d-flex gap-4">
        <div cdkDropListGroup *ngIf="baseImage" class="base-image-container" style="width: 400px; height: 400px;">
          <img [src]="baseImage" class="base-image" alt="base" style="width: 400px; height: 400px;"  />
        
          <input type="file"  (change)="onSelectOverlayImage($event)" />
        <div   (cdkDragEnded)="onDrag($event)" cdkDrag>
          <div
            class="overlay-image-container"
            
           
            >
            <!-- (cdkDragMoved)="onDrag($event)" -->
            <img *ngIf="overlayImage" [src]="overlayImage" style="width: 150px; height: 40px;" class="overlay-image" alt="overlay"   >
          </div>
        </div>
        </div>
        
        <div style="width: 400px; height: 400px;">
        <button (click)="mergeImages()" *ngIf="overlayImage">Merge Images</button>
        <img [src]="mergedImage" *ngIf="mergedImage" style="width: 400px; height: 400px;"/>
      </div>
      </div>
  


   <!-- chatgpt rendered  -->
   <!-- <div>
    <input type="file" (change)="onFirstImageUpload($event)" accept="image/*" />
    <input type="file" (change)="onSecondImageUpload($event)" accept="image/*" />
  </div>
  <canvas #canvasElement width="800" height="600"></canvas> -->
  
  
       