<div class="d-flex" cdkDropListGroup>
<div class="col-4"><p>Parent</p>
<div class="d-grid gap-4 p-2"><div class="border py-5 bg-body-secondary" *ngFor="let item of objkey">
    <p class="text-center">{{item}}</p>
</div> </div></div>
<div class="col-4"><p>child</p>
    <div class="py-4">
        <div 
        cdkDropList
        [cdkDropListData]="firstArr"
        class="bg-body-secondary border cdk-drop-list d-grid gap-4 p-2"
        (cdkDropListDropped)="drop($event)">
             <div class="border-5 py-5 bg-danger" *ngFor="let item of firstArr" cdkDrag> 
             <p class="text-center">{{item}}</p>
             </div> 
        </div>
    </div>

    <div class="py-4">
        <div 
        cdkDropList
        [cdkDropListData]="object.arraytwo"
        class="bg-body-secondary border cdk-drop-list d-grid gap-4 p-2"
        (cdkDropListDropped)="drop($event)">
             <div class="border-5 py-5 bg-danger" *ngFor="let item of SecondArr" cdkDrag> 
             <p class="text-center">{{item}}</p>
             </div> 
        </div>
    </div>
</div>
<div class="col-4"><p>Unassigned</p>
     <div 
        cdkDropList
        [cdkDropListData]="unAssigned "
        class="bg-body-secondary border cdk-drop-list d-grid gap-4 p-2"
        (cdkDropListDropped)="drop($event)">
             <div class="border-5 py-5 bg-danger" *ngFor="let item of unAssigned" cdkDrag> 
             <p class="text-center">{{item}}</p>
             </div> 
        </div>

</div>
 </div>

 <!-- //duplicate mapping -->
<!-- <div class="d-flex" cdkDropListGroup>      
<div class="col-4"><p>Parent</p>
<div class="d-grid gap-4 p-2"><div class="border py-5 bg-body-secondary" *ngFor="let item of objkey">
    <p class="text-center">{{item}}</p>
</div> </div></div>
<div class="col-4"><p>child</p>
    <div class="py-4">
        <div 
        cdkDropList
        [cdkDropListData]="object['1']"
        class="bg-body-secondary border cdk-drop-list d-grid gap-4 p-2"
        (cdkDropListDropped)="drop($event)">
             <div class="border-5 py-5 bg-danger" *ngFor="let item of object['1']" cdkDrag> 
             <p class="text-center">{{item}}</p>
             </div> 
        </div>
    </div>

    <div class="py-4">
        <div 
        cdkDropList
        [cdkDropListData]="object['2']"
        class="bg-body-secondary border cdk-drop-list d-grid gap-4 p-2"
        (cdkDropListDropped)="drop($event)">
             <div class="border-5 py-5 bg-danger" *ngFor="let item of object['2']" cdkDrag> 
             <p class="text-center">{{item}}</p>
             </div> 
        </div>
    </div>
</div>
<div class="col-4"><p>Unassigned</p>
     <div 
        cdkDropList
        [cdkDropListData]="object['3'] "
        class="bg-body-secondary border cdk-drop-list d-grid gap-4 p-2"
        (cdkDropListDropped)="drop($event)">
             <div class="border-5 py-5 bg-danger" *ngFor="let item of object['3']" cdkDrag> 
             <p class="text-center">{{item}}</p>
             </div> 
        </div>

</div>
 </div> -->

<!-- <div class="d-flex">
    <div class="align-content-center col-4 ">
    <div class="border bg-body-secondary">
        <p>hello</p>
        </div>
    </div>
        <div class="col-4">
            <div class="border bg-body-secondary">
                <p>hello</p>
                </div>
                <div class="border bg-body-secondary">
                    <p>hello</p>
                    </div>
        </div>
        <div class="col-4">
            <div class="border bg-body-secondary">
                <p>hello</p>
                </div>
                <div class="border bg-body-secondary">
                    <p>hello</p>
                    </div>
        </div>
</div> -->
<div class="d-flex">
    <div class="align-content-center col-4 ">
    <div class="border bg-body-secondary">
        <p>hello</p>
        </div>
    </div>
        <div class="col-4">
            <div class="border bg-body-secondary">
                <p>hello</p>
                </div>
                <div class="border bg-body-secondary">
                    <p>hello</p>
                    </div>
        </div>
</div> 